version: 1.0
app:
  instances:
    min: 1
    max: 1
  version: "1cdc24a4-ce13-400a-84c5-662841f14241"
  endpoints: public
  env:
    - name: io_openliberty_sample_system_inMaintenance
      value: "false"
    - name: testValue
      value: "testData"
