version: 1.0
app:
  instances:
    min: 1
    max: 1
  version: "2eabe002-7e25-49e0-9379-14ee7f8327a1"
  endpoints: public
  env:
    - name: io_openliberty_sample_system_inMaintenance
      value: "false"
    - name: testValue
      value: "testData"
